.trial-1{
    display: flex;
    align-items: center;
    justify-content: center ;
    position: relative;
  }
  .title-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 1.6rem;
    margin-top: 40px;
  }
  .title-1::before, .title-1::after{
    content:"";
    height: 2px;
    background-color: black;
    display: block;
  
  }
  .service-1 img{
    float: left;
  }
  .service-1 p{
    float: right;
  }
  .service-container{
    position: relative;
  }
  .trial-2{
    display: flex;
    align-items: center;
    justify-content: center ;
    position: relative;
  }
  .title-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 1.6rem;
    margin-top: 40px;
  }
  .title-2::before, .title-2::after{
    content:"";
    height: 2px;
    background-color: black;
    display: block;
  
  }
  .service-2 img{
    float: left;
  }
  .service-2 p{
    float: right;
  }
  .service-container-2{
    position: relative;
  }